:root {
	--green1: #14483c;
	--green2: #14b892;
}

body {
	margin: 0;
}

nav {
    background-color: var(--green1);
    display: flex;
    justify-content: space-between;
    font-family: Saira, sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

nav a {
	color: #fafffe;
	text-decoration: none;
	transition: color 0.2s;
}

nav a:hover {
	color: var(--green2);
}

.nav_margin {
	margin: 2rem;
}

#nav_title {
    font-weight: bold;
}

#nav_item {
    display: flex;
    gap: 2rem;
}

#home {
	background-color: var(--green1);
}

#home_circle {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	background-color: var(--green2);
	margin-left: auto;
	margin-right: auto;
}
