nav {
    background-color: #14483c;
    display: flex;
    justify-content: space-between;
    font-family: Saira, sans-serif;
}

nav a {
	color: #fafffe;
	text-decoration: none;
}

#nav_title {
    font-weight: bold;
}

#nav_item {
    display: flex;
    gap: 2rem;
}
